<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>John Doe</h2>
            <h4>johndoe@gmail.com</h4>
        </div>
        <img src="https://media1.popsugar-assets.com/files/thumbor/OZshjIyGPZ0VFjl9aMt4tp_g_uM/fit-in/550x550/filters:format_auto-!!-:strip_icc-!!-/2014/08/08/878/n/1922507/caef16ec354ca23b_thumb_temp_cover_file32304521407524949/i/Funny-Cat-GIFs.jpg" alt="">
    </div>

    <mat-divider></mat-divider>

    <!--
    <h2 matSubheader>Pages</h2>
    -->
    
    <a mat-list-item routerLink="/" routerLinkActive="list-item-active">Dashboard</a>
    <!--
    <a mat-list-item routerLink="/posts" routerLinkActive="list-item-active">Posts</a>
    <a mat-list-item routerLink="/articles" routerLinkActive="list-item-active">Articles</a>
    -->
    <a mat-list-item routerLink="/devices" routerLinkActive="list-item-active">Devices</a>
    <a mat-list-item routerLink="/add-device" routerLinkActive="list-item-active">Add Device</a>

    <!--
    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>
    <a mat-list-item routerLink="/add" routerLinkActive="list-item-active" >
        <mat-icon>add_box</mat-icon>
        Add Devices
    </a>
    -->
</mat-nav-list>
