<div>
    <h1>Devices</h1>
    <div>
        Here's all of your devices.
    </div>
</div>

<mat-divider></mat-divider>

<h1>Speakers</h1>
<div fxLayout="row" fxLayoutAlign= "space-between center" fxLayoutGap="20px" class="speaker-cards">
    <mat-card fxFlex="25" class="speakerCard">
        <span class="material-icons" >
            speaker
        </span>
        Left Front
    </mat-card>
    <mat-card fxFlex="25" class="speakerCard">
        <span class="material-icons" >
            speaker
        </span>
        Right Front
    </mat-card>
    <mat-card fxFlex="25" class="speakerCard">
        <span class="material-icons" >
            speaker
        </span>
        Back Right
    </mat-card>
    <mat-card fxFlex="25" class="speakerCard">
        <span class="material-icons" >
            speaker
        </span>
        Back Left
    </mat-card>
    <mat-card fxFlex="25" class="speakerCard">
        <span class="material-icons">
            surround_sound
        </span>
        Sub
    </mat-card>
</div>

<mat-divider></mat-divider>

<h1>Cameras</h1>
<div fxLayout="row" fxLayoutAlign= "space-between center" fxLayoutGap="20px" class="camera-cards">

    <mat-card fxFlex="25" class="cameraCard">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtvMpWs_9hnu9dkt6i_qmZ6KZFi0A5ahxldA&usqp=CAU" width="225" height="225">
        Side Yard
    </mat-card>

    <mat-card fxFlex="25" class="cameraCard">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjFfulBfPz4BXCts1yZqtd9bHRRL1r_b3Xrg&usqp=CAU" width="225" height="225">
        Front Yard
    </mat-card>

    <mat-card fxFlex="25" class="cameraCard">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpNJ92q8lpeqN5urZ5WPkphHI7GmdJMipuJQ&usqp=CAU" width="225" height="225">
        Backyard
    </mat-card>

    <mat-card fxFlex="25" class="cameraCard">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg5ndzg0DWAmFQVyfGkjeQwB8D8FeiysOo4g&usqp=CAU" width="225" height="225">
        Living Room
    </mat-card>

    <!-- <mat-card fxFlex="25" class="cameraCard">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTS27h7ATDfTxGPonQmS6_u5MFCtkPcR5nsBA&usqp=CAU" width="225" height="225">
        Side Yard
    </mat-card> -->
</div>