<div>
    <h1>Settings</h1>
    <div>
        Configure your profile and account features
    </div>
</div>

<mat-divider> </mat-divider>

<div>
    <h2>Profile settings</h2>
    <div class="addToDash" >
        <span class="material-icons">account_box</span>
        Configure profile settings in your application
    </div>
</div>

<mat-divider></mat-divider>

<div>
    <h2>New devices</h2>
    <div class="addToDash" >
        <span class="material-icons">perm_identity</span>
        Configure account settings from the iCozy website
    </div>
</div>