<!-- <p>You're on the dashboard page!</p> -->

<div >
    <app-widget-weather class="widget"> </app-widget-weather>
</div>

<mat-divider></mat-divider>

<h2>Speakers</h2>
<div fxLayout="row" fxLayoutAlign= "space-between center" fxLayoutGap="20px" class="speaker-cards">
    <mat-card fxFlex="25" class="card">
        <span class="material-icons" >
            speaker
        </span>
        Left Front
    </mat-card>
    <mat-card fxFlex="25" class="card">
        <span class="material-icons" >
            speaker
        </span>
        Right Front
    </mat-card>
    <mat-card fxFlex="25" class="card">
        <span class="material-icons" >
            speaker
        </span>
        Back Right
    </mat-card>
    <mat-card fxFlex="25" class="card">
        <span class="material-icons" >
            speaker
        </span>
        Back Left
    </mat-card>
    <mat-card fxFlex="25" class="card">
        <span class="material-icons">
            surround_sound
        </span>
        Sub
    </mat-card>
</div>

<mat-divider></mat-divider>

<!-- knob shit -->


<!-- <h2>Air Conditioning</h2>
<div>
    <div>Table</div>
    <div>Pie Chart</div>
</div> -->

