.weather-widget{
    width: 100%; 
    
}
.speaker-cards{
  display: flex;
  justify-content: center;
  align-items: center;
}
.speakerCard{
  display: flex;
  justify-content: center;
  align-items: center;
}
.camera-cards{

}
.cameraCard{

}
//////////knob
