<!-- <p>You're on the dashboard page!</p> -->

<div >
    <app-widget-weather class="weather-widget"> </app-widget-weather>
</div>

<mat-divider></mat-divider>

<h1>Speakers</h1>
<div fxLayout="row" fxLayoutAlign= "space-between center" fxLayoutGap="20px" class="speaker-cards">
    <mat-card fxFlex="25" class="speakerCard">
        <span class="material-icons" >
            speaker
        </span>
        Left Front
    </mat-card>
    <mat-card fxFlex="25" class="speakerCard">
        <span class="material-icons" >
            speaker
        </span>
        Right Front
    </mat-card>
    <mat-card fxFlex="25" class="speakerCard">
        <span class="material-icons" >
            speaker
        </span>
        Back Right
    </mat-card>
    <mat-card fxFlex="25" class="speakerCard">
        <span class="material-icons" >
            speaker
        </span>
        Back Left
    </mat-card>
    <mat-card fxFlex="25" class="speakerCard">
        <span class="material-icons">
            surround_sound
        </span>
        Sub
    </mat-card>
</div>

<mat-divider></mat-divider>

<h1>Cameras</h1>
<div fxLayout="row" fxLayoutAlign= "space-between center" fxLayoutGap="20px" class="camera-cards">

    <mat-card fxFlex="25" class="cameraCard">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtvMpWs_9hnu9dkt6i_qmZ6KZFi0A5ahxldA&usqp=CAU">
        SideYard
    </mat-card>

    <mat-card fxFlex="25" class="cameraCard">
        
    </mat-card>

    <mat-card fxFlex="25" class="cameraCard">
        
    </mat-card>

    <mat-card fxFlex="25" class="cameraCard">
        
    </mat-card>

    <mat-card fxFlex="25" class="cameraCard">
      
    </mat-card>
</div>
<!-- knob shit -->
<!-- <div>  
    <app-thermostat> </app-thermostat>
</div> -->



<!-- <h2>Air Conditioning</h2>
<div>
    <div>Table</div>
    <div>Pie Chart</div>
</div> -->

