<!-- <p>You're on the add devices page!</p> -->
<div>
    <h1>Set up</h1>
    <div>
        Set up new devices or add existing devices and services to your dashboard
    </div>
</div>


<mat-divider> </mat-divider>

<div>
    <h2>New devices</h2>
    <div class="addToDash" >
        <span class="material-icons">add</span>
        Set up new devices in your dashboard
    </div>
</div>

<mat-divider> </mat-divider>

<div>
    <h2>Add to existing</h2>
    <div class="addToDash" >
        <span class="material-icons">insert_link</span>
        Add to existing device
    </div>

</div>





